.app-container {
  text-align: center;
}

.color-boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.color-box {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
}

.slider-container {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}